@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body {
    margin:30px;
    background: rgb(120, 29, 240);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#per {
    font-weight:bold;
    position:relative;
    font-style:italic;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
}

#input1, #input2 {
    width:120px;
    height:30px;
    margin:24px;
    border:1px solid #ccc;
    outline:none;
    font-size:20px;
    border-left: none;
    border-top: none;
    border-right: none;
    transition: all 1s;
    background: #000;
    color: #fff;
    font-family: 'Philosopher', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

#label1, #label2 {
    font-size:20px;
    font-weight:bold;
    color: #FD0F2B;
    font-family: 'Audiowide', cursive;
}

#btn {
    background:#FD0F2B;
    color:#ffffff;
    outline:none;
    border-color:red;
    width:100px;
    height:40px;
    font-size:16px;
    border-radius:5px;
    font-family: 'Audiowide', cursive;
    text-align: center;
}

#btn:hover {
    background: #f92039;
}

#progress {
    width:100%;
    height:16px;
    background-color:rgb(0, 255, 0);
}

#progressBorder{
    width: 100%;
    height: 16px;
    visibility: hidden;
    background: #0b0b0b;
}

#msg {
    color:red;
    position:fixed;
    font-size:20px;
}

#container {
    padding:20px;
    background: #000;
    border-radius:15px;
    height: 50vh;
    width: 70vw;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    align-self: center;
    box-shadow: 3px 3px red;
}

h1{
    text-shadow:2px 2px 2px black;
    color:#FD0F2B;
    font-size: 3rem;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

#perAnime {
    display: none;
    margin-top: 15px;
}

#options {
    font-size: 1rem;
    outline: none;
    background: #181717;
    color: #fff;
    border: none;
    margin-bottom: 5px;
    font-family: 'Audiowide', cursive;
}

@media (max-width:480px) {
    #container {
        height: 65vh;
    }
    
    h1 {
        font-size: 2.2rem;
    }
}

#mode {
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
}
