body {
    margin:30px;
    background:black;
}

#per {
    font-weight:bold;
    position:relative;
    font-style:italic;
}

#marks, #tmarks {
    width:100px;
    height:30px;
    margin:30px;
    border:1px solid grey;
    outline:none;
    font-size:20px;
}

#ob, #tm {
    font-size:20px;
    font-weight:bold;
}

#btn {
    background:red;
    color:#ffffff;
    outline:none;
    border-color:red;
    width:80px;
    height:40px;
    font-size:16px;
    border-radius:5px;
}

#progress {
    width:100%;
    height:16px;
    background-color:lime;
}

#progressBorder{
    width:100%;
    height:16px;
    visibility:hidden;
    background:#f1f1f1;
}

#msg {
    color:red;
    position:fixed;
    font-size:20px;
}

#container {
    border:3px solid grey;
    border-right-color:red;
    border-bottom-color:red;
    padding:20px;
    background:white;
    border-radius:15px;
}

h1{
    text-shadow:2px 2px 2px black;
    color:red;
    font-size:40px;
}